<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="Slider.css">
</head>
<body>
    <!-- Slider Section -->
    <section class="slider-section">
        <div class="slider-container">
            <!-- fc -->
            <div class="slider-item" onclick="navigateToCategory('fruits')">
                <img src="https://th.bing.com/th/id/OIP.qN1ObZA2nPH-FJiwv0mWpwHaJY?rs=1&pid=ImgDetMain" alt="Fruit Plants">
                <p>Fruit Plants</p>
            </div>

            <div class="slider-item" onclick="navigateToCategory('vegetables')">
                <img src="https://th.bing.com/th/id/OIP.kj_7M0IVSjeu6bJFyOrbDQAAAA?rs=1&pid=ImgDetMain" alt="Vegetable Plants">
                <p>Vegetable Plants</p>
            </div>

            <div class="slider-item" onclick="navigateToCategory('fertilizers')">
                <img src="https://th.bing.com/th/id/OIP.hboy9Qu5qbBPNPKq0xEm4gHaE8?rs=1&pid=ImgDetMain" alt="Fertilizers">
                <p>Fertilizers</p>
            </div>
            
            <div class="slider-item" onclick="navigateToCategory('seasons')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjqmgp80pfWJHkgd7GGJ-rrPJlZQDZzOWUwQ&s" alt="Seasoned Plants">
                <p>Seasoned Plants</p>
            </div>
        </div>
    </section>

    <script src="Slider.js"></script>
</body>
</html>
